@charset "UTF-8";
/* CSS Document */
section#contenidos{
	height: 883px;
}
div#boxAcordeon{
	width: 557px;
	height: 558px;
	background-color: tomato;
	position: absolute;
	top: 148px;
	left: 12px;
}

div#boxTabs{
	width: 480px;
	height: 558px;
	background-color: tomato;
	position: absolute;
	top: 148px;
	left: 714px;
}